<!DOCTYPE html>
<html>

<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="<%= prefixPath %>/static/css/style.css">
</head>

<body>
    <div class="main">
        <video autoplay loop id="video" plays-inline>
            <source src="<%= prefixPath %>/static/videos/home.mp4" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="navbar">
            <div class="logo">LOGO</div>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="<%= prefixPath %>/policy">POLICY</a></li>
                <li><a href="<%= prefixPath %>/api-docs">API</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
        </div>
        <div class="heading">
            <div class="heading">
                <h1 class="head">WELCOME TO OUR <span>API</span></h1>
                <h3 class="sub">Have a good day</h3>
            </div>
        </div>
    </div>
</body>

</html>